@model vmCompoUserInterst
@{
	Layout = null;
	Layout = "TimeLineLayout";
}

<div class="theme-layout">
   <section>
	<div class="feature-photo">
		@* cover *@
		<figure><img src="~/images/user/@ViewBag.CoverImage" style="width: 1366px; height: 400px" alt=""></figure>
		<div class="add-btn">
			<span id="followerCountMain">@ViewBag.NumOfFollowers Followers</span>


		</div>
		<form method="post" id="uploadForm66" asp-controller="UserProfile" asp-action="EditCoverImage" class="edit-phto" enctype="multipart/form-data">
			<i class="-camera-retro"></i>
			<label class="fileContainer">
				Edit Cover Photo
				<input id="fileInput66" name="ProfileImage" type="file" />
			</label>
		</form>
		<div class="container-fluid">
			<div class="row merged">
				<div class="col-lg-2 col-sm-3">
					<div class="user-avatar">
						<figure>
							<img src="~/images/user/@ViewBag.ProfileImage" style="width: 200px; height: 185px;" alt="">
							<form method="post" id="uploadForm55" asp-controller="UserProfile" asp-action="EditProfileImage" class="edit-phto" enctype="multipart/form-data">
								<i class="-camera-retro"></i>
								<label class="fileContainer">
									Edit Display Photo
									<input id="fileInput55" name="ProfileImage" type="file" />
								</label>
							</form>
						</figure>
					</div>
				</div>
				<div class="col-lg-10 col-sm-9">
					<div class="timeline-info">
						<ul>
							<li class="admin-name">
								<h5 id="fullName">@ViewBag.FirstName @ViewBag.LastName  </h5>
							</li>
							<li>
								<a class="active" asp-controller="UserProfile" asp-action="Index" data-target="timeline">My posts</a>
								@* <a class="" href="#photos" data-target="photos">Photos</a> *@
								<a class="" href="#friends" data-target="friends">Follow</a>
								<a class="" href="#groups" data-target="groups">Groups</a>
								<a class="" asp-controller="Chat" asp-action="Index" data-target="Chat">Chats</a>
								@* <a class="" href="#about" data-target="about">About</a> *@
							</li>
						</ul>
					</div>
					<div id="tabContent" style="display: none;"></div>


				</div>
			</div>
		</div>
	</div>
</section> <!-- profile  -->
	<div class="gap gray-bg">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="row" id="page-contents">
						<div class="col-lg-3  ">
							<aside class="sidebar stick-widget">
								@Html.Partial("pvEditSideBar", Model.ApplicationUser)
								
							</aside>
						</div><!-- sidebar -->
						<div class="col-lg-6">
							<form method="post" id="myForm">

							  <div id="my-interests" class="tab3-content actives">
								<div class="central-meta">
									<div class="editing-interest">
										<h5 class="f-title"><i class="ti-heart"></i>My interests</h5>
											<div class="interest_container mt-2" style="width: 536px">
											<h4>Update Your Interests</h4>
											<p style="font-size: 14px;">Select the topics that you are interested in:</p>
												
													<div id="validationMessage" class="text-danger"></div>
											
											<div id="interests">

												@for (int i = 0 ; i < Model.VmInterests.AllInterests.Count ; i ++)
												{
													<div class=form-check>
														<div class=checkbox-wrapper-24>
															<input type="checkbox" id="@Model.VmInterests.AllInterests[i].InterestId"
																   value="@Model.VmInterests.AllInterests[i].InterestId"
																   name="SelectedInterests"
															@(Model.VmInterests.SelectedInterests.Contains(Model.VmInterests.AllInterests[i].InterestId) ? "checked" : "") />
																<label for=@Model.VmInterests.AllInterests[i].InterestId class=labelStyle style="font-size: 16px">
																<span></span>@Model.VmInterests.AllInterests[i].InterestName
															</label>
														</div>
													</div>
												}
												
													<div class="submit-btns">
														<button class="mtr-btn signin" type="button" id="updateButton" />
															<span>Update</span>
													

													</div>
													
											</div>
										</div>
									</div>
								</div>
							  </div>
							  
                            </form>

							@Html.Partial("pvGroups", Model.ApplicationUser)

							@Html.Partial("pvFriends", Model.ApplicationUser)

						</div><!-- centerl meta -->
						<div class="col-lg-3">
							@Html.Partial("pvSideBarFollowingList", Model.ApplicationUser)
						</div>


					</div>
				</div>
			</div>
		</div>
	</div>

</div>


<div class="side-panel">
	<h4 class="panel-title">General Setting</h4>
	<form method="post">
		<div class="setting-row">
			<span>use night mode</span>
			<input type="checkbox" id="nightmode1" />
			<label for="nightmode1" data-on-label="ON" data-off-label="OFF"></label>
		</div>
		<div class="setting-row">
			<span>Notifications</span>
			<input type="checkbox" id="switch22" />
			<label for="switch22" data-on-label="ON" data-off-label="OFF"></label>
		</div>
		<div class="setting-row">
			<span>Notification sound</span>
			<input type="checkbox" id="switch33" />
			<label for="switch33" data-on-label="ON" data-off-label="OFF"></label>
		</div>
		<div class="setting-row">
			<span>My profile</span>
			<input type="checkbox" id="switch44" />
			<label for="switch44" data-on-label="ON" data-off-label="OFF"></label>
		</div>
		<div class="setting-row">
			<span>Show profile</span>
			<input type="checkbox" id="switch55" />
			<label for="switch55" data-on-label="ON" data-off-label="OFF"></label>
		</div>
	</form>
	<h4 class="panel-title">Account Setting</h4>
	<form method="post">
		<div class="setting-row">
			<span>Sub users</span>
			<input type="checkbox" id="switch66" />
			<label for="switch66" data-on-label="ON" data-off-label="OFF"></label>
		</div>
		<div class="setting-row">
			<span>personal account</span>
			<input type="checkbox" id="switch77" />
			<label for="switch77" data-on-label="ON" data-off-label="OFF"></label>
		</div>
		<div class="setting-row">
			<span>Business account</span>
			<input type="checkbox" id="switch88" />
			<label for="switch88" data-on-label="ON" data-off-label="OFF"></label>
		</div>
		<div class="setting-row">
			<span>Show me online</span>
			<input type="checkbox" id="switch99" />
			<label for="switch99" data-on-label="ON" data-off-label="OFF"></label>
		</div>
		<div class="setting-row">
			<span>Delete history</span>
			<input type="checkbox" id="switch101" />
			<label for="switch101" data-on-label="ON" data-off-label="OFF"></label>
		</div>
		<div class="setting-row">
			<span>Expose author name</span>
			<input type="checkbox" id="switch111" />
			<label for="switch111" data-on-label="ON" data-off-label="OFF"></label>
		</div>
	</form>
</div><!-- settings side panel -->
@section scripts {
	<script>
		document.getElementById('fileInput55').addEventListener('change', function (event) {
			event.preventDefault(); // Prevent default behavior of file input
			document.getElementById('uploadForm55').submit();
			console.log("hhhhh2");
		});
	</script>
	<script>
		document.getElementById('fileInput66').addEventListener('change', function (event) {
			event.preventDefault(); // Prevent default behavior of file input
			document.getElementById('uploadForm66').submit();
			console.log("hhhhh2");
		});
	</script>

	<script>

		$(document).ready(function () {
			// Show the initial active tab content
			// $('.tab2-pane').hide();
			$('.tab2-content').hide();
			$('.tab2-pane actives').show();
			$('.timeline-info a').click(function (e) {
		
				var target = $(this).attr('data-target');
				if ($(this).attr('data-target') !== "timeline" && $(this).attr('data-target') !== "Chat") {
					e.preventDefault();
				}
				$('.tab2-pane').hide(); // Hide all tab panes
				$('.tab2-content').hide();
				$('.tab3-content').hide();
				$('#' + target).show(); // Show the selected tab pane
				$('.timeline-info a').removeClass('active');
				$(this).addClass('active');
			})	
			$('.naves a').click(function (e) {
				
				var target = $(this).attr('href');
				$('.tab2-content').hide();
				$('.tab2-pane').hide(); // Hide all tab contents
					$(target).show();
				$('.timeline-info a').removeClass('active');
			
				
			});;

		});



	</script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

	<script>
		$(document).ready(function () {
			$('#updateButton').click(function () {
				$.ajax({
					url: '@Url.Action("Interests", "UserProfile")',
					type: 'POST',
					data: $('#myForm').serialize(),
					success: function (response) {
						if (response.success) {
							// Update successful, redirect or perform other actions
							// window.location.href = '/UserProfile/Index';
							$('#validationMessage').hide();
							Swal.fire({
								icon: 'success',
								title: 'Success!',
								text: 'Your update was successful.',
								showConfirmButton: false,
								timer: 1500
							});

						} else {
							// Display validation errors
							console.log("oops")
							$('#validationMessage').show();
							$('#validationMessage').text(response.message);
						}
					},
					error: function (xhr, status, error) {
						// Handle errors
					}
				});
			});
		});
	</script>

}
